/* General styles for headings */
.level1 h1, .level2 h2, .level3 h3 {
  font-variant: small-caps;
  border-bottom: 2px solid;
  margin-bottom: 10px;
}

/* Caption and code styling */
.caption, p.caption, pre code {
  color: #777;
  font-size: smaller;
  margin-top: 10px;
}

/* Inline code */
p code, code {
  white-space: pre-wrap !important;
}
